*{
  box-sizing: border-box;
}

body {
  background-image: url(img/s3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

a, li {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;

}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.nav {
  padding: 20px 0;
  background-color: rgb(174, 164, 148);
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
}

.nav__list li {
  padding: 5px;
  border-radius: 5px;
}

.dropdown {
  position: relative;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown__list {
  position: absolute;
  top: 40px;
  left: 0;
  padding: 0 5px;
  width: 100%;
  background-color: rgb(174, 164, 148);
  display: none;
  text-align: center;
}

.active {
  display: block;
}

.dropdown__link {
  padding: 5px 2px;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
}

.dropdown__link:hover {
  color: black;
  background-color: rgb(230, 182, 40);
}

.shop__content {
  text-align: center;
}

.shop__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 5px;
}

.shop__item {
  text-align: center;
  flex: 0 1 22%;
}

.shop__link {
  display: inline-block;
  background-color: tan;
  padding: 7px;
  width: 60%;
  outline: 1.75px dashed #333;
  border-radius: 7px;
  opacity: 0;
  transition: opacity .3s ease-in;
}

.shop__image:hover .shop__link {
  opacity: 1;
}


.shop__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
  background-size: cover;
}

.shop__image_bg1 {
  background-image: url(img/s6-f1.png);
  background-position: center;
}
.shop__image_bg2 {
  background-image: url(img/s6-f2.png);
  background-position: center;
}
.shop__image_bg3 {
  background-image: url(img/s6-f3.png);
  background-position: center;
}
.shop__image_bg4 {
  background-image: url(img/s6-f4.png);
  background-position: center;
}

.modal {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-active {
  display: flex;
}

.modal__body {
  position: relative;
  width: 60%;
  min-height: 60%;
  background-color: #d3d3d3;
  border-radius: 20px;
  outline: 2px solid tan;
}

.modal-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 40px;
  height: 40px;
  background-image: url(img/delete.png);
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  cursor: pointer;
}

.modal__table {
  margin: 20px auto 10px;
  padding: 10px;
  min-width: 90%;
  border-collapse: collapse;
  background-color: #d9b68e;
}

th {
  padding-bottom: 10px;
  font-size: 18px;
}

tr, th, td {
  padding: 5px 3px;
  border: 1px solid grey;
  text-align: center;
}

td {
  font-size: 14px;
}

.table-image {
  width: 35px;
  height: 35px;
  background-size: cover;
}

.remove-item {
  padding: 20px;
  width: 20px;
  background-size: cover;
  background-image: url(img/trash-solid.svg);
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(.65);
  cursor: pointer;
}