*{
  box-sizing: border-box;
}

body {
  background-image: url(img/s3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

a, li {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;

}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.nav {
  padding: 20px 0;
  background-color: rgb(174, 164, 148);
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
}

.nav__list li {
  padding: 5px;
  border-radius: 5px;
}

.dropdown {
  position: relative;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown__list {
  position: absolute;
  top: 40px;
  left: 0;
  padding: 0 5px;
  width: 100%;
  background-color: rgb(174, 164, 148);
  display: none;
  text-align: center;
}

.active {
  display: block;
}

.dropdown__link {
  padding: 5px 2px;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
}

.dropdown__link:hover {
  color: black;
  background-color: rgb(230, 182, 40);
}

.shop__content {
  text-align: center;
}

.shop__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

.shop__item {
  text-align: center;
  width: 24%;
}

.shop__link {
  display: inline-block;
  background-color: tan;
  padding: 7px;
  width: 60%;
  outline: 1.75px dashed #333;
  border-radius: 7px;
  opacity: 0;
  transition: opacity .3s ease-in;
}

.shop__image:hover .shop__link {
  opacity: 1;
}


.shop__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
  background-size: cover;
}

.shop__image_bg1 {
  background-image: url(img/s6-f1.png);
}
.shop__image_bg2 {
  background-image: url(img/s6-f2.png);
}
.shop__image_bg3 {
  background-image: url(img/s6-f3.png);
}
.shop__image_bg4 {
  background-image: url(img/s6-f4.png);
}
